<ion-content class="page-content" padding>
  <form [formGroup]="loginForm">
      <ion-list inset>
        <ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <div ngxErrors="email" #emailErrors="ngxErrors">
        </div>

        <ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>

        <div ngxErrors="password" #passwordErrors="ngxErrors">
         
        </div>
      </ion-list>

      <div padding-horizontal>
        <div class="form-error" *ngIf="loginError" style="color: #cc0000;">Unable to login with username / password</div>

        <button class="login-btn" ion-button full type="submit" [disabled]="!loginForm.valid" (click)="login()" >Log in</button>
        <div class="login-footer">
          <p (click)="navToPassword()">
            <a href="#">Forgot password?</a>
          </p>
        </div>
      </div>

        <ion-list class="login-options-list">
          <button ion-button icon-start block clear (click)="loginWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>
            Log in with Google
          </button>

          <button ion-button icon-start block clear (click)="signup()">
            <ion-icon name="person-add"></ion-icon>
            Sign up
          </button>
        </ion-list>
    </form>
</ion-content>
